{% extends "base.html" %}

{% block content %}

<div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:15px;">
    
    <h2>Clientes</h2>

    <a href="/exportar_clientes">
        <button type="button">📊 Exportar CSV</button>
    </a>

</div>

<input type="text" id="buscador" placeholder="Buscar cliente..." onkeyup="filtrarTabla()">

<!-- FORMULARIO -->
<form method="POST">
    <input name="representante" placeholder="Representante">
    <input name="razon" placeholder="Razón Social *" required>
    <input name="nit" placeholder="NIT *" required>
    <input name="contacto" placeholder="Nombre del contacto">
    <input name="telefono" placeholder="Teléfono">
    <input name="correo" placeholder="Correo">
    <input name="direccion" placeholder="Dirección">

    <button>Guardar</button>
</form>

<p style="color:red;">{{ error }}</p>




<!-- TABLA -->
<table class="tabla-clientes">
    <thead>
        <tr>
            <th>ID</th>
            <th>Razón</th>
            <th>NIT</th>
            <th>Contacto</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
        </tr>
    </thead>

    <tbody>
    {% for c in clientes %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.razon }}</td>
        <td>{{ c.nit }}</td>
        <td>{{ c.contacto }}</td>
        <td>{{ c.telefono }}</td>
        <td>{{ c.correo }}</td>
        <td>{{ c.direccion }}</td>

        <!-- 🔴 AQUÍ VA -->
        <td>
            <a href="/editar_cliente/{{ c.id }}">
                <button class="btn-editar">✏️</button>
            </a>

            <a href="/eliminar_cliente/{{c.id}}"
                onclick="return confirm('¿Seguro que deseas eliminar este cliente?')">
                <button class="btn-eliminar">🗑</button>
            </a>
        </td>

    </tr>
    {% endfor %}
</tbody>
</table>

<div class="paginacion">
    <a href="?page=1">1</a>
    <a href="?page=2">2</a>
    <a href="?page=3">3</a>
</div>



<script>
function filtrarTabla() {
    let input = document.getElementById("buscador");
    let filtro = input.value.toLowerCase();
    let filas = document.querySelectorAll(".tabla-clientes tbody tr");

    filas.forEach(fila => {
        let texto = fila.innerText.toLowerCase();
        fila.style.display = texto.includes(filtro) ? "" : "none";
    });
}
</script>



{% endblock %}