{% extends "base.html" %}

{% block content %}

<h2>📄 Órdenes de Servicio</h2>

<table class="tabla-clientes">
    <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Servicio</th>
            <th>Estado</th>
            <th>Ver</th>
        </tr>
    </thead>

    <tbody>
    {% for o in datos %}
    <tr>
        <td>{{ o.id }}</td>
        <td>{{ o.fecha }}</td>
        <td>{{ o.razon }}</td>
        <td>{{ o.tipo }}</td>

        <td>
            {% if o.realizado == "REALIZADO" %}
                <span style="color:green;">✔ Realizado</span>
            {% else %}
                <span style="color:orange;">⏳ Pendiente</span>
            {% endif %}
        </td>

        <td>
            <a href="/orden/{{ o.id }}" target="_blank">
                <button class="btn-orden">📄 Ver</button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}